h1
{
    background-color: powderblue;
    text-align: center;
    
}
h2
{
background-color:tomato;
}
body
{
    padding: 20px;
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;

}